* {
    box-sizing: border-box;
    padding: 2px;
    margin: 2px;
}
html {
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 84, 109);
    color: white;
    min-height: 100%;
    line-height: 1;
}
.header {
    display: inline-block;
    width: 100%;
    padding: 6px;
    background-color: rgb(0, 42, 54);
}
.header h1 {
    display: inline-flex;
    font-size: 36px;
}
.header div {
    padding: 0px;
    margin: 3px;
    float: right;
    font-size: 18px;
    font-weight: bolder;
}
.header div ul {
    list-style-type: none;
}
.header div ul li {
    display: inline-block;
}
a {
    color: white;
    text-decoration: none;
}
.main {
    display: flex;
    flex-wrap: wrap;
}
.projects {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projectscard {
    border-style: solid;
    border-color: pink;
    border-width: 1px;
}
.hc1-picture {
    position: relative;
    text-align: left;
    font-weight: bolder;
}
.fp1-picture {
    position: relative;
    text-align: left;
    font-weight: bolder;
}
.fp2-picture {
    position: relative;
    text-align: left;
    font-weight: bolder;
}
.fp3-picture {
    position: relative;
    text-align: left;
    font-weight: bolder;
}
.fp4-picture {
    position: relative;
    text-align: left;
    font-weight: bolder;
}
.hc1-lt-corner, .fp1-lt-corner, .fp2-lt-corner, .fp3-lt-corner, .fp4-lt-corner {
    position: absolute;
    bottom: 36px;
    left: 16px;
    color: pink;
}
.hc1-lb-corner, .fp1-lb-corner, .fp2-lb-corner, .fp3-lb-corner, .fp4-lb-corner {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: pink;
}
